.bg {
  /* The image used */
  background-image: url("./img/bean.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: black;
  border-width: 5px;
}

.title {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 240px;
  height: 300px;
  font-size: 80px;
  font-family: sans-serif;
  text-align: left;
  vertical-align: middle;
  border: 5px solid #000000;
  background-color: rgba(255, 0, 0, 0.4);
}

.subtitle {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 400px;
  height: 300px;
  font-size: 50px;
  font-family: sans-serif;
  text-align: left;
  vertical-align: middle;
}

.menu {
  background-image: url("./img/yoff.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menutitle {
  position: relative;
  top: 10%;
  left: 30%;
  width: 30%;
  height: 10%;
  font-size: 40px;
  font-family: sans-serif;
  border: 5px solid #2b0d0d;
  background-color: rgba(255, 0, 0, 0.2);
}
#menuitems{
  position: relative;
  top: 10%;
  left: 30%;
}
.container{
  display: flex;

}
